body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2f7eff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #4CAF50;
}

.model-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.card:hover {
    opacity: 0.8;
}

.model-card-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.card p {
    margin-top: 10px;
    font-weight: bold;

}

#photoUpload {
    display: none;
}

#cvFormSection {
    margin-top: 20px;
}
